<!DOCTYPE html>
<html lang="en">
<head>
    <%include partials/meta.ejs%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/animate.css" type="text/css"/>
    <link rel="stylesheet" href="../public/stylesheets/app.css">
    <title>Blazen</title>
</head>
<body>
<div id="drive"></div>
<script src="drive.js"></script>
</body>
</html>