<!DOCTYPE html>
<html lang="en">
<head>
    <%include partials/meta.ejs%>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire+Swash" type="text/css">
    <link rel="stylesheet" href="../public/stylesheets/floating-labels.css" type="text/css">
    <link rel="stylesheet" href="../public/stylesheets/white-box.css" type="text/css">
    <link rel="stylesheet" href="../public/stylesheets/app.css" type="text/css">
    <title>Log In</title>
</head>
<body class="page">
<div class="white-box">
    <div id="form-input"></div>
</div>
<script src="login.js"></script>
</body>
</html>